body {
    font-family: Myriad Pro, Open Sans, Times New Roman, San Serif;
    background-color: white;
   	margin-left: 50px;
	margin-right: 50px;
	background-size: cover;
	background-image: url(images/main1.png);
	background-repeat: no-repeat;
	background-attachment: scroll;

	}
#wrapper{
  min-height: 600px;
  height: auto;
}
h1{
	font-size: 22px;
}
h2{
	font-size: 15px;
}

#logo{
	size: 705px 225px;
	float: left;
	padding-left: 10px;
	}

nav {
	padding-left: 25px;
	padding-top: 10px;
	font-size: 15px;
	float: left;
    width: 220px;
    min-height: 675px;
    height: auto;
	background-color: #f5e3df;
    border: 2px solid #f79e66;

}
li {
    line-height: 30px;
	list-style-type: none;
	display: block;
}


a:link {
	color:black;
	text-decoration: none;
}
a:hover{
	color: #dc582d;

}


#form
{	margin-left: 250px;
	margin-right: auto;
	margin-top: 150px;
	padding: 15px;
	border: 2px solid #d0d2df;
	border-radius: 5px;
	background-color: #f3f3f6;
	align-self: center;
	width: 400px;
	height: auto;

}


.name_password{
	padding-right: 10px;
	font-weight: bold;
	}
.submit{
	color: white;
	font-size: 14px;
	width: auto;
	height: 30px;
	margin-top: 10px;
	font-weight: bold;
	background-color: #f47920;
}


header {
	background-color: white;
	height: 85px;
    min-width: 1200px;
	width:auto;
	border-radius: 10px;
					}
#footer {
    height:40px;
    min-width: 1200px;
  	width:auto;
	background-color: lightgray;
	text-align: center;
	margin-top: 12px;
	padding-top: 10px;
}
#review{
	width: 700px;
	height: 900px;
	border: medium #FF0004;
}
